<h1><%= @list.name %></h1>

<div id="task_lists">
  
  <div id="unfinished-tasks" class="<%= 'hidden' if !@list.tasks.not_done.any? %>">
    <h4>Here are the <em>unfinished</em> tasks for this list:</h4>
    <ul>
      <%= render @list.tasks.not_done %>
    </ul>
  </div>

  <div id="finished-tasks" class="<%= 'hidden' if !@list.tasks.done.any? %>">
    <h4>Here are the <em>finished</em> tasks for this list:</h4>
    <ul>
      <%= render @list.tasks.done %>
    </ul>
  </div>

  <div id="no-tasks" class="<%= 'hidden' if @list.tasks.any? %>">
    <p id="no-tasks-label">There are no tasks yet!</p>
  </div>

</div>

<p><%= link_to "Add a task", new_list_task_path(@list), id: "new_task_link", class: "btn btn-default", remote: true %></p>
<p><%= link_to "Delete List", list_path(@list),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to lists", lists_path %></p>
